In [2]:
import pandas as pd

dataset = pd.read_csv("income.csv")
print("dataset length:", len(dataset))
dataset.head()

dataset length: 26215

,income,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week
0,0,39,State-gov,Bachelors,NotMarried,Adm-clerical,Not-in-family,White,Male,40
1,0,50,Self-emp-not-inc,Bachelors,Married,Exec-managerial,Husband,White,Male,13
2,0,38,Private,HS-grad,Separated,Handlers-cleaners,Not-in-family,White,Male,40
3,0,53,Private,11th,Married,Handlers-cleaners,Husband,Black,Male,40
4,0,28,Private,Bachelors,Married,Prof-specialty,Wife,Black,Female,40

In [88]:
#1a Describe the dataset 
dataset.shape
dataset.describe()

,income,age,education,sex,hours-per-week,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,...,marital-status_NotMarried,marital-status_Separated,marital-status_Widowed,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay
count,21537.000000,21537.000000,21537.000000,21537.000000,21537.000000,21537.000000,21537.000000,21537.000000,21537.000000,21537.000000,...,21537.000000,21537.000000,21537.000000,21537.000000,21537.000000,21537.000000,21537.000000,21537.000000,21537.000000,21537.000000
mean,0.298881,39.407624,13.396573,0.325626,41.478015,0.010633,0.036449,0.100339,0.009333,0.843247,...,0.313507,0.178669,0.029995,0.036820,0.076891,0.701490,0.044157,0.092817,0.047407,0.000418
std,0.457778,13.203134,3.250385,0.468619,12.501092,0.102568,0.187409,0.300458,0.096157,0.363577,...,0.463929,0.383084,0.170577,0.188325,0.266424,0.457615,0.205448,0.290183,0.212512,0.020438
min,0.000000,17.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,29.000000,12.000000,0.000000,40.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,38.000000,15.000000,0.000000,40.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,48.000000,16.000000,1.000000,47.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,90.000000,16.000000,1.000000,99.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [17]:
#1b Deal with missing values (if there are any) and use a proper method to handle categorical variables.
#because the amount of na vlues in each row is quite significiant i felt it was best to remove them
dataset.isna().sum()
dataset = dataset.dropna()
print("dataset length:", len(dataset))

income            0
age               0
workclass         0
education         0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
hours-per-week    0
dtype: int64

In [5]:
#1c Remove duplicated inputs if there are any.
dataset.duplicated().any()
dataset = dataset.drop_duplicates()
print("dataset length:", len(dataset))

dataset length: 22782

In [20]:
#1d Handle the categorical variables.
dataset.dtypes
print(dataset["workclass"].value_counts(),"\n")
print(dataset["education"].value_counts(),"\n")
print(dataset["marital-status"].value_counts(),"\n")
print(dataset["occupation"].value_counts(),"\n")
print(dataset["relationship"].value_counts(),"\n")
print(dataset["race"].value_counts(),"\n")
print(dataset["sex"].value_counts(),"\n")

Private             15108
Self-emp-not-inc     1999
Local-gov            1656
State-gov            1021
Self-emp-inc          951
Federal-gov           793
Without-pay             9
Name: workclass, dtype: int64

HS-grad         6442
Some-college    4668
Bachelors       3701
Masters         1324
Assoc-voc       1007
Assoc-acdm       814
11th             718
10th             592
Prof-school      487
7th-8th          427
Doctorate        356
9th              355
12th             296
5th-6th          212
1st-4th          104
Preschool         34
Name: education, dtype: int64

Married       10291
NotMarried     6752
Separated      3848
Widowed         646
Name: marital-status, dtype: int64

Prof-specialty       3212
Exec-managerial      3017
Sales                2597
Adm-clerical         2589
Craft-repair         2489
Other-service        2244
Machine-op-inspct    1302
Transport-moving     1136
Handlers-cleaners     862
Farming-fishing       752
Tech-support          692
Protective-serv       522
Priv-house-serv       118
Armed-Forces            5
Name: occupation, dtype: int64

Husband           8928
Not-in-family     5563
Own-child         2811
Unmarried         2376
Wife              1185
Other-relative     674
Name: relationship, dtype: int64

White                 18161
Black                  2161
Asian-Pac-Islander      785
Amer-Indian-Eskimo      229
Other                   201
Name: race, dtype: int64

Male      14524
Female     7013
Name: sex, dtype: int64

In [23]:
#education
dataset['education'] = dataset['education'].replace({'Preschool':1,'1st-4th':2,'5th-6th':3,'12th':4,'9th':5,'Doctorate':6,'7th-8th':7,'Prof-school':8, '10th':9,'11th':10,'Assoc-acdm':11,'Assoc-voc':12,'Masters':13,'Bachelors':14, 'Some-college':15,'HS-grad':16})

#sex
dataset['sex']=dataset['sex'].replace({'Male':0, 'Female':1})

#remaining
dataset = pd.get_dummies(dataset, columns=['race', 'relationship', 'occupation','marital-status','workclass'])
dataset.head()

,income,age,education,sex,hours-per-week,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,...,marital-status_NotMarried,marital-status_Separated,marital-status_Widowed,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay
0,0,39,14,0,40,0,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
1,0,50,14,0,13,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,0,38,16,0,40,0,0,0,0,1,...,0,1,0,0,0,1,0,0,0,0
3,0,53,10,0,40,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,28,14,1,40,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0

In [93]:
#1e split the dataset with 10% for testing
dataset.shape

array=dataset.values
x=array[:,1:14]
y=array[:,0]

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.1, random_state=1)

In [84]:
#1f
#normalization
from sklearn.preprocessing import MinMaxScaler

norm = MinMaxScaler().fit(x_train)
x_train_norm = norm.transform(x_train)
x_test_norm = norm.transform(x_test)

In [94]:
#2a
#define Regression & SVM
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

# Logistic regression model for prediction
model = LogisticRegression(solver="liblinear")
model.fit(x_train, y_train)
test_score = model.score(x_test, y_test)
print("Testing Accuracy of LR:", test_score)

# Support Vector Machine for classification
model = SVC()
model.fit(x_train, y_train)
test_score = model.score(x_test, y_test)
print("Testing Accuracy of SVC:", test_score)

Testing Accuracy of LR: 0.7390900649953575
Testing Accuracy of SVC: 0.72330547818013

In [82]:
#2b
#define 10-fold cross validation
from sklearn.model_selection import KFold
kfold=(KFold(n_splits=10, shuffle=True, random_state=1))

from sklearn.model_selection import cross_val_score

model = LogisticRegression(solver="liblinear")
results = cross_val_score(model, x, y, cv=kfold)
print('Average Accuracy of LR:', results.mean())

model = SVC()
results = cross_val_score(model, x, y, cv=kfold)
print('Average Accuracy of SVM:', results.mean())

Average Accuracy of LR: 0.7480144308582829
Average Accuracy of SVM: 0.7347357728047625

In [99]:
#2c Fine tune parameters for LG model
from sklearn.model_selection import GridSearchCV

grid_params_lr = {
    'penalty': ['l1', 'l2'],
    'solver': ['saga']
}

lr = LogisticRegression(max_iter=150)
gs_lr_results = GridSearchCV(lr, grid_params_lr, cv=kfold).fit(x_train_norm, y_train)
print(gs_lr_results.best_score_)

0.7481291091393806

In [105]:
#2c fine tune parameters for SVM model
from sklearn.model_selection import GridSearchCV

grid_params_svc = {
'kernel': ['linear'],
}

svc = SVC()
gs_svc_result = GridSearchCV(svc, grid_params_svc, cv=kfold).fit(x_train_norm, y_train)
print(gs_svc_result.best_score_)

0.7217142452648929

In [107]:
#2d LG evaluate trained model 
test_accuracy = gs_lr_results.best_estimator_.score(x_test_norm, y_test)
print("Accuracy in testing:", test_accuracy)

Accuracy in testing: 0.7395543175487466

In [109]:
#2d SVM evaluate trained model
test_accuracy = gs_svc_result.best_estimator_.score(x_test_norm, y_test)
print("Accuracy in testing:", test_accuracy)

Accuracy in testing: 0.713091922005571

In [126]:
#3a apply clustering to normalized data
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=2, random_state=1).fit(x)

print('kmeans.cluster_centers_:',kmeans.cluster_centers_)

kmeans.cluster_centers_: [[5.08786816e+01 1.32288119e+01 2.82408335e-01 4.40761370e+01
  8.61550791e-03 3.33600481e-02 9.09637347e-02 5.81045883e-03
  8.61250250e-01 5.55700260e-01 2.32618714e-01 1.95351633e-02
  2.18393108e-02]
 [2.94981393e+01 1.35414972e+01 3.62959758e-01 3.92335785e+01
  1.23755950e-02 3.91172653e-02 1.08437906e-01 1.23755950e-02
  8.27693639e-01 2.92600606e-01 2.80484639e-01 4.14539161e-02
  2.24405019e-01]]

In [116]:
#3b identify how data samples in each cluster
kmeans_labels = kmeans.labels_
unique_labels, unique_counts = np.unique(kmeans_labels, return_counts=True)
dict(zip(unique_labels, unique_counts))

{0: 9945, 1: 11592}

In [118]:
#3c Extract a prototype frome each cluster
from sklearn.metrics.pairwise import pairwise_distances_argmin

kmeans_cluster_centers = kmeans.cluster_centers_
closest = pairwise_distances_argmin(kmeans.cluster_centers_, x)
dataset.iloc[closest, :]

,income,age,education,sex,hours-per-week,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,...,marital-status_NotMarried,marital-status_Separated,marital-status_Widowed,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay
4075,0,51,13,0,45,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
162,1,29,14,0,40,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0

In [128]:
from sklearn.metrics import accuracy_score

y = array[:,-1]
kmeans_labels = kmeans.labels_
# or kmeans_lables = kmeans.predict(X)

accuracy = accuracy_score(y, kmeans_labels)
print("k means prediction accuracy:", accuracy)

k means prediction accuracy: 0.4618099085295074